*{
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  line-height: 30px;
}

.footer {
  background-color: #1a1a2e;
  color: #fff;
  padding: 20px 0;
}

.logo {
  height: auto;
  width: 55%;
  margin: 5vh auto;
  padding-left:10%;
}
.contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
 

}

.contact li {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1vh;
}

// .contact li img {
//   margin-right: 10px;
// }

// .contact h3, .contact ul {
//   margin-left: 5vh;
  
// }

@media (min-width: 768px) {
  .contact {
    margin-left: 20vh;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 25px;
}

.link, .contact, .company-rights, .FAQ {
  flex: 1 1 100%;
  margin: 2vh 0;
  margin-right:5%;
}

.link ul, .contact ul, .inline-list {
  list-style: none;
  padding: 0;
}

.inline-list {
  display: flex;
  gap: 20px;
}

.color-white {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 13px;
  color: #fff;
}

@media (min-width: 768px) {
  .row {
    flex-wrap: nowrap;
  }

  .link, .contact {
    flex: 1 1 auto;
  }

  .company-rights {
    flex: 2;
  }

  .FAQ {
    flex: 1;
  }

  .link, .contact {
    margin-left: 5vh;
  }

  .contact {
    margin-left: 20vh;
  }

  .company-rights {
    margin-left: 5vh;
    margin-right: auto;
  }

  .FAQ {
    margin-left: auto;
  }
}
