<div class="footer">
    <div class="container">
      <div class="row">
        <div>
          <img class="logo" src="assets/footer/image.svg">
        
        </div>
        <div class="link">
          <h3>Company</h3>
          <ul>
            <li><a class="color-white" href="#">About Us</a></li>
            <li><a class="color-white" href="#">Availability</a></li>
            <li><a class="color-white" href="#">Privacy Policy</a></li>
            <li><a class="color-white" href="#">Terms & Condition</a></li>
          </ul>
        </div>
        <div class="contact">
          <h3>Contact</h3>
          <ul>
            <li><img src="assets/footer/pin-8-64.gif" alt="" width="25px"> Parijat A1/4</li>
            <li><img src="assets/footer/phone.svg" alt="" width="25px"> +91 9556488903</li>
            <li><img src="assets/footer/emailicon.png" alt="" width="25px"> create&commat;shreeva.com</li>

           
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="company-rights">
          <p>&copy; Shreeva, All Right Reserved. Designed by Shreeva</p>
          <p>Distributed By Rotaract</p>
        </div>
        <div class="FAQ">
          <ul class="inline-list">
            <li><a class="color-white" href="#">FAQ</a></li>
            <li><a class="color-white" href="#">Home</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  