<div class="footer">
  <div class="container">
    <div class="row">
      <div>
        <img class="logo" src="assets/footer/image.svg" />
      </div>
      <div class="link">
        <h3>Organisation</h3>
        <ul>
          <li><a class="color-white" href="#">About Us</a></li>
          <li><a class="color-white" href="#">Availability</a></li>
          <li><a class="color-white" href="#">Privacy Policy</a></li>
          <li><a class="color-white" href="#">Terms & Condition</a></li>
        </ul>
      </div>
      <div class="contact">
        <h3>Contact Us</h3>
        <ul>
          <li style="font-size: 12.5px; padding-top:4.3px;" >
            <img src="assets/footer/pin-8-64.gif" alt="" width="25px" /> Whats
            App: 8418846013
          </li>
          <li style="font-size: 12.5px">
            <img src="assets/footer/phone.svg" alt="" width="25px" /> +91
            8418846013
          </li>
          <li style="font-size: 12.5px">
            <img src="assets/footer/emailicon.png" alt="" width="25px" />
            support&commat;kashisummit.com
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="company-rights">
        <p style="font-size:25; padding-bottom: 20px;">Hosted By R.I. District 3120</p>
        <p style="font-size:15px">&copy; Shreeva, All Right Reserved. Designed by Shreeva</p>
        <p>Distributed By Rotaract</p>
      </div>
      <div class="FAQ">
        <ul class="inline-list">
          <li><a class="color-white" href="#"></a> <img src="assets/footer/whatsapp.png"></li>
          <li><a class="color-white" href="#"></a> <img src="assets/footer/insta.png"></li>
          <li><a class="color-white" href="#"></a> <img src="assets/footer/fb.png"></li>
          <li><a class="color-white" href="#"></a> <img src="assets/footer/twitter.png"></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-img">
    <img src="assets/footer/contact.png">
  </div>
  
</div>
