<div class="container">
        <div class="set1">
          <img src="assets/Krit-img/Group 9833.png" alt="Hand" class="hand-image">
        </div>
        <div class="set2">
          <img src="assets/Krit-img/Group 9834.png" alt="City" class="city-image">
        </div>
        <div class="set3">
          <h1 class="animate-text">Kashi Summit</h1>      
          <p class="animate-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
  
