<nav class="navbar">
        <div class="navbar-brand"><img src="assets/navbar/nav-icon.png " alt="hello"></div>
        <input type="checkbox" id="navbar-toggle" class="navbar-toggle">
        <label for="navbar-toggle" class="navbar-icon">&#9776;</label>
        <ul class="navbar-menu">
            <li class="navbar-item"><a href="#home" class="navbar-link">Home</a></li>
            <li class="navbar-item"><a href="#services" class="navbar-link">Services</a></li>
            <li class="navbar-item"><a href="#about" class="navbar-link">About</a></li>
            <li class="navbar-item"><a href="#contact" class="navbar-link">Contact</a></li>
        </ul>
    </nav>
    



















    
    