<nav class="navbar">
  <div class="navbar-brand">
    <img style=" margin-left: 20%;" src="assets/navbar/nav-icon.png " alt="nav-logo" />
  </div>
  <input type="checkbox" id="navbar-toggle" class="navbar-toggle" />
  <label for="navbar-toggle" class="navbar-icon">&#9776;</label>
  <ul class="navbar-menu">
    <li class="navbar-item"><a href="#home" class="navbar-link">Home</a></li>
    <li class="navbar-item"><a href="#about" class="navbar-link">About</a></li>
    <li class="navbar-item">
      <a href="#events" class="navbar-link">Events</a>
    </li>
    <li class="navbar-item">
      <a href="#itenarary" class="navbar-link">Itinerary</a>
    </li>
    <li class="navbar-item">
      <a href="#availability" class="navbar-link">Availability</a>
    </li>
    <li class="navbar-item">
      <a
        href="#downloadFYI"
        class="navbar-link"
        style="
          border-radius: 10px;
          background: linear-gradient(#dd4747 19%, #f2bc1e 100%);
        "
        >Download FYI</a
      >
    </li>
  </ul>
</nav>
