/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.navbar-brand {
   
   width:20%;
   height:20%;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-link {
    text-decoration: none;
    color: red;
    padding: 8px 15px;
    transition: background 0.3s;
}

.navbar-link:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Responsive Styles */
.navbar-toggle {
    display: none;
}

.navbar-icon {
    display: none;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    .navbar-item {
        margin-left: 0;
        text-align: center;
    }

    .navbar-link {
        padding: 10px;
        display: block;
    }

    .navbar-toggle:checked ~ .navbar-menu {
        display: flex;
    }

    .navbar-icon {
        display: block;
    }
}








