/* General Styles */
body {
  font-family: "Montez", cursive;
  margin: 0;
  padding: 0;
}

.navbar {
  margin-top: 17px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: transparent;
}


.navbar-menu {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  list-style: none;
  display: flex;
  margin-left: auto; /* Adjusted margin for responsiveness */
}

.navbar-item {
  margin-left: 20px;
  margin-right: 15px; /* Adjusted margin for spacing */
}

.navbar-link {
  text-decoration: none;
  color: black;
  padding: 8px 15px;
  transition: background 0.3s;
}

.navbar-link:hover {
  background: linear-gradient(#dd4747 19%, #f2bc1e 100%);
  border-radius: 5px;
}

/* Responsive Styles */
.navbar-toggle {
  display: none;
}

.navbar-icon {
  display: none;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    .navbar-item {
        margin-left: 0;
        text-align: center;
    }

    .navbar-link {
        padding: 10px;
        display: block;
    }

    .navbar-toggle:checked ~ .navbar-menu {
        display: flex;
    }

    .navbar-icon {
        display: block;
    }
}








