<section>
  <div class="heading">
    <img src="assets/ourTeam/ourTeam.svg" />
  </div>
  <div class="middle ">
    <div class="swiper">
    <div class="next-button left-button"><img src="assets/ourTeam/left.svg" /></div>

    <div class="list ">
      <div class="scroll-container">
        <div class="image-wrapper" *ngFor="let pic of ourTeam">
          <div class="single-pt">
            <img src="assets/ourTeam/picbg.svg" alt="" />
          </div>
          <div class="detail">
            <p class="detail-h1" >PDRR Rtn./Rtr.
              Kushagra Bansal</p>
              <p class="detail-h2">
                Summit chair
              </p>
          </div>
        </div>
      </div>
    </div>

    <div class="next-button right-button"><img src="assets/ourTeam/right.svg" /></div>
  </div>
  </div>
  <div class="bottom">
    <img src="assets/ourTeam/bottom.svg" />
  </div>
</section>
