<section>
    <h1>Hamara Kashi</h1>
    <div class="banners">
      <img [class]="img1" class="slide-top img1" (click)="open('img1')" src="assets/hamaraKashi/ban1.svg">
      <img [class]="img2" class="slide-top img2" (click)="open('img2')" src="assets/hamaraKashi/ban2.svg">
    </div>
    <div class="banners">
      <img [class]="img3 " class="slide-top img3" (click)="open('img3')" src="assets/hamaraKashi/ban3.svg">
      <img [class]="img4" class="slide-top img4" (click)="open('img4')" src="assets/hamaraKashi/ban4.svg">
    </div>
  </section>
  