section {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/hamaraKashi/gangabg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  h1 {
    padding-top: 0px;
    margin-top: 0px;
    text-align: center;
    font-family: "Montez", cursive;
    font-weight: 400;
    font-size: 60px;
    line-height: 196.22px;
    width: 100%;
  }

  .banners {
    display: flex;
    justify-content: center;

    img {
      border-radius: 50px;

      width: 20%;
    }
    .img1 {
      rotate: -5deg;
      z-index: 1;
    }
    .img2 {
      rotate: 7deg;
      transform: translate(-20px, 0px);
      z-index: 2;
    }
    .img3 {
      rotate: -7deg;
      transform: translate(0px, -80px);
      z-index: 3;
    }
    .img4 {
      rotate: 7deg;
      transform: translate(-20px, -80px);
      z-index: 4;
    }
  }
}

@media (max-width:1300px) {
  section {
    height: 100%;
    .banners img {
      width: 30%;
    }
  }
}

@media (max-width: 940px) {
  section {
    height: 100%;
    padding-bottom: 150px;
    h1 {
      font-size: 35px;
      line-height: 100px;
    }

    .banners {
      flex-direction: column;
      align-items: center;
    }
    .openImg{
        transform: scale(1.2, 1.2);
        z-index: 6;
    
    }

    .banners img {
      width: 70%;
      border-radius: 20px;

    }

    .banners .img2,
    .banners .img4 {
      transform: translate(-5px, 0px);
    }

    .banners .img3,
    .banners .img4 {
      transform: translate(0px, -5px);
    }
  }
}

@media (max-width: 360px) {
  section {
    height: 100%;
    padding-bottom: 150px;

    h1 {
      font-size: 35px;
      line-height: 100px;
    }

    .banners {
      flex-direction: column;
      align-items: center;
    }

    .banners img {
      width: 70%;
      border-radius: 20px;
    }

    .banners .img2,
    .banners .img4 {
      transform: translate(-5px, 0px);
    }

    .banners .img3,
    .banners .img4 {
      transform: translate(0px, -5px);
    }
  }
}


.slide-top {
	-webkit-animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    // 100% {
    //   -webkit-transform: translateY(-100px);
    //           transform: translateY(-100px);
    // }
  }
  

