<div class="container">
    <div class="row">
      <div class="card card-1">
        <div class="content">
          <p>Adi Keshav Slab</p>
          <button class="sold-out">Sold Out</button>
        </div>
      </div>
      <div class="card card-2">
        <div class="content">
          <p>Dashashwamedh Slab</p>
          <button class="sold-out">Sold Out</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card card-3">
        <div class="content">
          <p>Assi Slab</p>
          <button class="sold-out">Sold Out</button>
        </div>
      </div>
      <div class="card card-4">
        <a target="_blank" href="https://forms.gle/D4ENGvhkepfjh6kE9">
          <div class="content">
            <p>Panchganga Slab</p>
          </div>
        </a>
      </div>
    </div>
  </div>