<main class="">
    <div id="web-view" class="navbar">
      <span class="spacer"></span>
      <span class="title"> Itinerary </span>
      <button class="cta what-btn">What</button>
      <button class="cta when-btn">When</button>
      <button class="cta where-btn">Where</button>
      <img class="flow" src="../../assets/itenary/flow.png" alt="" />
    </div>
  
    <div id="mobile-view" class="navbar">
      <span class="title"> Itinerary </span>
      <img class="flow" src="../../assets/itenary/flow.png" alt="" />
    </div>
  
    <div id="mobile-view" class="navbar">
      <button class="cta what-btn">What</button>
      <button class="cta when-btn">When</button>
      <button class="cta where-btn">Where</button>
    </div>
  
    <section>
      <div class="first">
        <p>
          11:00 - 12:00 P.M. CHECK IN & REGISTRATIONS <br />
          12:00 - 01:00 P.M. LUNCH <br />
          01:00 - 03:30 P.M. INAUGURAL SESSION <br />
          03:30 - 04:00 P.M. HI-TEA <br />
          04:00 - 08:00 P.M. CITY TOUR 1 (RIVER CRUISE & GANGA AARTI) <br />
          08:00 - 09:00 P.M. DINNER
        </p>
      </div>
      <div class="block">
        <div class="second">
          <p>
            03:00 - 08:00 A.M. CITY TOUR 2 (SHRI KASHI VISHWANATH TEMPLE & SUBAH E
            BANARAS) <br />
            09:00 - 11:00 A.M. BREAKFAST <br />
            11:00 - 02:00 P.M. BUSINESS SESSION <br />
            02:00 - 03:00 P.M. LUNCH <br />
            03:00 - 04:00 P.M. DRR MEET (JOIN OTHERS AT SARNATH) <br />
            03:00 - 05:30 P.M. CITY TOUR 3 (SARNATH) <br />
            05:30 - 06:00 P.M. HI TEA <br />
            07:00 - 11:00 P.M. CULTURAL NIGHT ALONG WITH DJ, GALA DINNER &
            COCKTAIL
          </p>
        </div>
        <div class="third">
          <p>
            07:00 - 10:00 A.M. POOL PARTY & BREAKFAST <br />
            10:00 - 11:00 A.M. HOTEL CHECKOUT <br />
            11:00 - 01:30 P.M. VALEDICTORY SESSION <br />
            01:30 - 02:30 P.M. LUNCH <br />
            02:30 - 04:00 P.M. DEPARTURES & FELLOWSHIP
          </p>
        </div>
      </div>
    </section>
  </main>