/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
*{
    padding: 0px;
    margin: 0px;
=======
*body{
    margin: 0;
    padding: 0;
>>>>>>> 98538818fe51afc3f7aa4d0c5235dce2b61b6c15
}